@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}

body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: url("./images/background.png") repeat;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 90px;
}
a {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

button:link {
  color: black;
}
button:visited {
  color: black;
}
.resultH1 {
  font-family: "GmarketSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #6aa99e;
  line-height: 35px;
  margin-bottom: 80px;
}
.resultH3 {
  font-family: "GmarketSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #6aa99e;
  margin: 2px;
}
.home {
  margin-top: 60px;
}

.headerContainer {
  position: absolute;
  width: 100%;
  height: 60px;
  max-height: 60px;
  left: 0px;
  top: 0px;

  /* main1 */

  background: #6aa99e;
}

.menuBar {
  width: 100%;
  height: 52px;
  background-color: #fffef5;
  margin-top: -40px;
  box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.1);
  margin-bottom: 100px;
}
.progress-div {
  background-color: rgba(196, 196, 196, 0.5);
}

.progress {
  background-color: #6aa99e;
  height: 5px;
  border-radius: 1rem;
}

.logo {
  cursor: pointer;
  margin: 15px;
}
#homeTitle {
  margin: 8px;
}
#homeImg {
  margin: 8px;
  margin-bottom: 0px;
}

#homeStartBtn {
  background: #6aa99e;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  color: white;
  cursor: pointer;
  margin-top: -12px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 15px;
}

#homeCountApply {
  margin: 0px;
  cursor: pointer;
  margin-bottom: 50px;
}

#testQuestionNum {
  position: absolute;
  top: 12%;
  font-family: "GmarketSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #6aa99e;
}

.testQusetionNum {
  margin-top: 150px;
}

.testQuestionContainer {
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testAnswer {
  background: #fffef5;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  border: none;
  cursor: pointer;
  margin: 8px;
  display: table;
  box-sizing: border-box;
  border: 2px solid #6aa99e;
  font-size: 15px;
  font-family: "Noto Sans KR";
  font-weight: normal;
}

.testAnswer:active {
  background: #6aa99e;
  color: #fffef5;
  border-radius: 32.5px;
  border: 2px solid #6aa99e;
  padding: 0;
}

.testAnswer:visited {
  color: black;
}

#resultTitle {
  font-family: "GmarketSansMedium";
  font-size: 16px;
  margin-bottom: 3px;
  color: #6999b5;
  font-weight: 400;
}

#resultSimple {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 36px;
}

#resultMain_Title {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  width: 310px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #6999b5;
  border: 1px solid #fffef5;
  text-shadow: 0px 1px 0px rgba(25, 25, 25, 0.1);
}

#resultMain {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  width: 310px;
  text-align: start;
  margin-bottom: 30px;
  line-height: 28px;
}

#resultProgramTitle {
  font-family: "GmarketSansBold";
  font-size: 24px;
  text-align: start;
  width: 310px;
  margin-bottom: 18px;
}

.resultPrograms {
  width: 310px;
  margin: 10px;
  display: flex;
  cursor: pointer;
}

.resultProgramImg {
  width: 105px;
  height: 130px;
  background-color: darkgray;
  border-radius: 15px 0px 0px 15px;
}

.resultProgramDetail {
  width: 205px;
  background: #ffffff;
  border-radius: 0px 15px 15px 0px;
  text-align: start;
  overflow: auto;
  overflow: x-hidden;
}
#programName {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  margin: 10px 18px 5px 18px;
}

#programDetail {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  margin: 5px 18px 10px 18px;
}

#moreProgram {
  width: 182px;
  height: 36px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 84px;
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  display: table;
}

#resultShare {
  font-family: "GmarketSansBold";
  font-size: 24px;
}

#shareContainer {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
}

.shareIcon {
  margin: 5px;
  cursor: pointer;
  padding: 1px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.shareIcon:hover {
  border: 2px solid #bebebe;
  border-radius: 50px;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 11px;
  min-width: 200px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
}

#resultRetryBtn {
  margin-top: 30px;
  background-color: #6aa99e;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
}

#resultShowAll {
  margin: 20px;
  margin-bottom: 133px;
  background-color: #6aa99e;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
}

#resultBtnContainer {
  margin-top: 50px;
  margin-bottom: 40px;
  height: 80px;
  width: 310px;
}

#resultRetry {
  background-color: #6aa99e;
  border: none;
  border-radius: 32.5px;
  width: 126px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  margin-right: 14px;
  color: #fffef5;
}

#resultAll {
  background-color: #6aa99e;
  border: none;
  border-radius: 32.5px;
  width: 170px;
  height: 64px;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  color: #fffef5;
}

#resultType {
  margin-bottom: 25px;
}

.h3Container {
  margin-top: 180px;
  margin-bottom: 100px;
}

#showResultBtn {
  background: #6aa99e;
  border: none;
  border-radius: 32.5px;
  width: 310px;
  height: 64px;
  color: white;
  cursor: pointer;
  margin-top: 65px;
  font-weight: bold;
  font-size: 15px;
}

#test {
  animation: fadein 1.5s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  left: 0%;
}

.modalPost {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  background-color: #fffef5;
  overflow: auto;
  overflow: x-hidden;
  z-index: 3;
  border-radius: 15px;
}

.modalHead {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #6aa99e;
}

.modalHeadFont {
  color: #fffef5;
  font-family: "GmarketSansLight";
  font-weight: bold;
  font-size: 16px;
  margin: 11px;
}

.closeBtn {
  margin: 18px;
  width: 14px;
  height: 14px;
  color: #fffef5;
  font-weight: bold;
}

.modalCon {
  border: 1px solid #6aa99e;
  padding: 20px;
}

.modalTitle {
  font-family: "GmarketSansBold";
  text-align: start;
  font-size: 22px;
  color: #6aa99e;
  margin: 15px 0px 10px 0px;
}

.modalSemi {
  font-family: "Noto Sans KR";
  text-align: start;
  font-weight: 550;
  font-size: 13px;
  line-height: 19px;
  color: #6aa99e;
}

.modalDetail {
  font-family: "Noto Sans KR";
  text-align: start;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  margin: 10px 0px;
}

.mdtiPar {
  margin: 16px;
}

.mdtiDetail {
  font-family: "Noto Sans KR";
  text-align: start;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin: 10px 0px;
}

#modalMDTI {
  height: 475px;
}

.mdtiTitle {
  font-family: "GmarketSansBold";
  font-size: 22px;
  color: #6aa99e;
  margin: 15px 0px 20px 0px;
}

.mdtiInfo {
  font-family: "Noto Sans KR";
  font-weight: normal;
  font-size: 8px;
  line-height: 15px;
  margin: 30px 0px;
  color: gray;
  margin-bottom: 0px;
}

.tag {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 12px;
  color: #fffef5;
  background: #6999b5;
  border-radius: 100px;
  margin-right: 12px;
  margin-bottom: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}
#zerobase {
  width: 80px;
}

#todak {
  width: 125px;
}

#gidae {
  width: 85px;
}

.titleCon {
  display: flex;
  justify-content: start;
  width: 320px;
  margin-bottom: 20px;
}

.eventContainer {
  margin-bottom: 70px;
}

.infoContainer {
  margin-bottom: 133px;
}

#eventDate {
  font-family: "GmarketSansMedium";
  font-size: 21px;
  margin-bottom: 0px;
  font-weight: 400;
  color: #636e72;
}

#info {
  font-size: 12px;
}

#more {
  font-family: "GmarketSansBold";
  font-size: 15px;
  font-weight: 400;
  color: #6aa99e;
}

#moreA {
  height: 20px;
  margin-top: 5px;
}

.back {
  margin-bottom: 18px;
  margin-left: -120px;
  margin-right: 95px;
  cursor: pointer;
}
